<nav class="nav-container flex justify-content-between">
    <div class="nav-left flex justify-content-between w-full">
        <a href="" class="nav-link" routerLink="home" routerLinkActive="nav-link-active">Home</a>
        <a href="" class="nav-link" routerLink="results" routerLinkActive="nav-link-active">Bands</a>
        <a href="" class="nav-link" routerLink="register" routerLinkActive="nav-link-active">Register</a>
    </div>
    <div class="nav-right flex justify-content-between w-8">
        <app-search></app-search>
    </div>
</nav>