<nav class="bg-bluegray-400 w-full flex flex-column lg:flex-row justify-content-between">
    <div class="flex w-full">
        <a class="nav-link hover:bg-bluegray-800" routerLink="home" routerLinkActive="bg-bluegray-800">Home</a>
        <a class="nav-link hover:bg-bluegray-800" routerLink="results" routerLinkActive="bg-bluegray-800">Bands</a>
        <a class="nav-link hover:bg-bluegray-800" routerLink="register" routerLinkActive="bg-bluegray-800">Register</a>
    </div>
    <div class="flex align-items-center p-3 lg:p-0 w-full lg:w-8">
        <app-search></app-search>
    </div>
</nav>