.nav-link {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 0.1em;
    justify-content: center;
    text-decoration: none;
    width: 20rem;
    height: 4rem;
}

.nav-link:hover {
    background-color: #666666;
}

.nav-link-active {
    background-color: #666666;
}