<form [formGroup]="searchForm" 
    id="searchForm" 
    class="flex"
    novalidate>
    <!-- <p-dropdown class="search-type" [options]="searchOptions"></p-dropdown> -->
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <p-autoComplete id="searchBox"
            formControlName="query"
            placeholder="Search Bands..."
            [suggestions]="filteredBands"
            (completeMethod)="filterBand($event)"
            (onFocus)="onFocus()"
            (keydown)="onKeyDown($event)">
        </p-autoComplete>
        <button pButton 
            type="button" 
            label="Search" 
            title="Search Bands"
            class="p-button-secondary" 
            (click)="onSearch(searchForm.value)">
        </button>
    </span>
</form>
