<p-table #membersTable [value]="band.Members" dataKey="MemberId" editMode="row" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-member let-editing="editing">
        <tr [pEditableRow]="member" (keydown)="onKeyDown($event, member)">
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="member.MemberName" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ member.MemberName }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="member.MemberEmail" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ member.MemberEmail }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="member.MemberPhone" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ member.MemberPhone }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <div *ngIf="!editing">
                    <button pButton pRipple 
                        type="button" 
                        icon="pi pi-pencil" 
                        class="p-button-rounded p-button-text"
                        (click)="onMemberEdit(member)" >
                    </button>
                    <button pButton pRipple 
                        type="button" 
                        icon="pi pi-times" 
                        class="p-button-rounded p-button-text p-button-danger"
                        (click)="onMemberDelete(member)">
                    </button>
                </div>
                <div *ngIf="editing">
                    <button pButton 
                        type="button" 
                        pSaveEditableRow
                        label="Accept" 
                        class="p-button-rounded p-button-success mr-1"
                        (click)="saveMember(member)">
                    </button>
                    <button pButton 
                        type="button" 
                        pCancelEditableRow
                        label="Cancel"
                        class="p-button-rounded p-button-outlined p-button-secondary"
                        (click)="onMemberEditCancel(member)">
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <span class="underline pointer" 
            [ngClass]="{ 'text-400': membersAtCapacity(), 'text-primary': !membersAtCapacity() }" 
            (click)="addMember()">
            + Add Member
        </span>
    </ng-template>
</p-table>
<p-confirmDialog key="removeMember"
    header="Remove Member?" 
    icon="pi pi-exclamation-triangle"
    acceptButtonStyleClass="p-button-success"
    rejectButtonStyleClass="p-button-danger p-button-outlined"
    defaultFocus="reject">
</p-confirmDialog>